@mixin font-variant-builder($variant) {
    $error-message: 'font-face style option only accepts the value in example:
    • normal = 400 italic
    • short = 400i';
    @if length($variant) > 2 {
        @error $error-message;
    } @else if $variant == none {
        // Return no styles
    } @else if type-of(nth($variant, 1)) != number {
        // Load styles via name
        @each $name, $weight in ('Thin': 100, 'ExtraLight': 200, 'Light': 300, 'Regular': 400, 'Medium': 500, 'SemiBold': 600, 'Bold': 700, 'ExtraBold': 800, 'Black': 900) {
            @if $variant == $name {
                font-weight: $weight;
                font-style: normal;
            }
        }
        @each $name, $weight in ('Thin Italic': 100, 'ExtraLight Italic': 200, 'Light Italic': 300, 'Italic': 400, 'Medium Italic': 500, 'SemiBold Italic': 600, 'Bold Italic': 700, 'ExtraBold Italic': 800, 'Black Italic': 900) {
            @if $variant == $name {
                font-weight: $weight;
                font-style: italic;
            }
        }
    } @else if length($variant) == 2 {
        // Load styles via default naming
        @if (nth($variant, 2) != normal) and (nth($variant, 2) != italic) {
            @error $error-message;
        }
        font-weight: nth($variant, 1);
        font-style: nth($variant, 2);
    } @else {
        // Load styles just weight or when with shorthand version
        $style: normal;
        $weight: $variant;
        @if unitless($variant) == false {
            // check if the value has an 'i'
            $weight: str-replace(#{$variant}, 'i');
            $style: italic;
        }
        font-weight: $weight;
        font-style: $style;
    }
}
